.ontopanel-tree {
  height: 400px;
  border-radius: 5px;
  button {
    cursor: pointer;
  }
  hr {
    margin-top: 4px;
    border: 1px solid #333;
  }

  .ontopanel-setting {
    font-size: 10px;
    font-weight: bold;
  }
  .tree-box-title {
    background-color: lightgrey;
  }
  .tree-box-content {
    font-size: 14px;
    margin-top: 3px;
  }

  .tree-content {
    ul {
      list-style: none;
      padding-left: 12px;
    }

    li {
      margin: 3px;
    }
    hr {
      width: 100%;
      border-top: 1.5px solid black;
      margin-bottom: 3px;
    }

    .ontoterm-btn {
      color: lightgrey;
      border: none;
      padding: 0;
      cursor: pointer;
      &:hover {
        color: steelblue;
      }
    }
    .collapse-btn {
      color: lightgrey;
      border: none;
      padding: 0;
      cursor: pointer;
      margin-left: 5px;
      &:hover {
        color: steelblue;
      }
    }
    .match-error {
      display: none;
      font-size: 13px;
      color: red;
      margin-left: 8px;
    }

    .tree-entity-box {
      display: none;
      white-space: normal;
      word-break: break-all;
      position: relative;
      z-index: 10;
      border: 1px solid #888;
      width: 280px;
      max-height: 200px;
      overflow: auto;
      padding: 0.5rem;
    }
    .li-com {
      display: flex;
      white-space: nowrap;
      font-size: 14px;
    }
  }
}
