@use "styles/onto-tree";

.ontopanel-app {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  background-color: steelblue;
  font-size: 16px;
  padding: 5px;
  position: absolute;
}

.ontopanel-sign {
  display: flex;
  height: 40px;
  justify-content: space-between;
  button {
    cursor: pointer;
    height: 20px;
  }
}

.onto-button {
  cursor: pointer;

  .ontopanel-menu {
    display: none;
    position: relative;
    z-index: 3;
    background-color: #fefefe;
    width: 80px;
    top: 5px;

    .menu-tag {
      cursor: pointer;
      padding: 8px 10px;
      &:hover {
        background-color: grey;
      }
    }
  }
}

.ontopanel-box {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  .box-inner {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 60%;

    .box-close-span {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
    .ontopanel-form {
      height: 100%;
      h3 {
        margin: 0px;
      }

      .box-info {
        font-weight: bold;
      }
      div {
        margin-bottom: 0.5rem;
      }
      input {
        padding: 0.5rem;
        width: 90%;
        background: #eeeeee;
        border: 1px solid #dddddd;
        outline: none;
        border-radius: 0.2em;
      }
      button {
        font-size: 15px;
        width: 100%;
        height: 30px;
        margin-bottom: 0.5rem;

        font-weight: bold;
        color: #ffffff;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 0.2em;
        background: green;
      }
      a {
        font-size: 13px;
        color: steelblue;
        text-decoration: none;
        cursor: pointer;
      }
      p {
        margin: 5px;
      }
    }
  }
}
